body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
}

li {
    list-style: none;
}

h2 {
    margin-bottom: 35px;
}

.wrapper {
    display: flex;
}

.container {
    max-width: 1000px;
    padding: 0 5%;
}


/* header */
header {
    width: 20%;
    height: calc(100vh - 19.5px);
    background-color: #333333;
}

.header-contents {
    padding: 7% 3%;
}

header a {
    color: white;
}

.menu {
    margin-top: 27px;
    margin-left: 35px;
}
.menu li {
    margin-bottom: 7px;
}


/* main */
main {
    width: 80%;
    margin-top: 30px;
}


/* students */
/* students list */
.add-btn {
    display: inline-block;
    border: 1px solid #333333;
    border-radius: 3%;
    padding: 10px 15px;
}

.add-btn:hover,
.fa-plus:hover {
    background-color: #333333;
    color: white;
}

.students-list table {
    width: 100%;
    margin-top: 15px;
}

.students-list th,
.students-list td {
    text-align: center;
}

.students-list th {
    border-bottom: 1px solid #333333;
}

.students-list td {
    border-bottom: 1px dotted #333333;
    line-height: 50px;
}

.name,
.times,
.progress {
    width: 20%;
}

.memo {
    width: 40%;
}


/* students create/update */
.student-form {
    border-bottom: 1px solid #333333;
    margin-bottom: 25px;
}

.add-student-form label,
.add-student-form input {
    display: block;
}

.student-sex input {
    display: inline-block;
    margin-bottom: 0px;
}

.student-sex {
    border: none;
}

.student-memo {
    border: 1px solid #333333;
}

button {
    border: 1px solid #333333;
    border-radius: 3%;
    background-color: #333333;
    color: white;
    padding: 3px 15px;
}

button:hover {
    background-color: white;
    color: #333333;
}



/* lessons */
/* lesson_list */
.lesson-list h2 {
    letter-spacing: 3px;
    border-bottom: 2px solid #333333;
    display: inline-block;
}

.lesson {
    border: 1px solid #333333;
    margin-bottom: 30px;
    padding: 5px;
    position: relative;
}

.lesson::after {
    position: absolute;
    content: "";
    box-shadow: 0px 0px 20px 10px rgba(17, 17, 26, 0.18);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lesson-info {
    display: flex;
    margin-bottom: 20px;
}

.lesson-info li {
    margin-right: 15px;
}

.lesson-memo h3 {
    font-weight: normal;
    font-size: 1rem;
}

.lesson-info li:nth-child(1)::after,
.lesson-memo h3::after {
    content: ":";
    margin-left: 5px;
}


/* footer */
footer {
    background-color: #333333;
    text-align: center;
}

footer p {
    color: white;
    font-size: 13px;
    margin: 0;
}