<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <section class="students-list container">
        <ul>
            <li><a href="{% url 'admin_tbl:student_create' %}">add a student</a></li>
        </ul>


        <table>
            <thead>
                <th>名前</th>
                <th>進捗</th>
                <th>授業回数</th>
                <th>備考</th>
            </thead>
            
            {% for student in students %}
                <tr>
                    <td>
                        <a href="{% url 'admin_tbl:student_detail' student.pk %}">
                            {{ student.name }}
                        </a>
                    </td>
                    
                    {% for report in student.lesson.all %}
                    <td>{{ report.get_progress_display }}</td>
                    <td>{{ report.times }}</td>
                    {% endfor %}
                    
                    <td>{{ student.memo }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}