<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <section class="students-list container">
        <a href="{% url 'admin_tbl:student_create' %}" class="add-btn">
            <i class="fa-solid fa-plus"></i>
            <span>add student</span>
        </a>


        <table>
            <thead>
                <th class="name">名前</th>
                <th class="progress">進捗</th>
                <th class="times">授業回数</th>
                <th class="memo">備考</th>
            </thead>
            
            {% for student in students %}
                <tr>
                    <td>
                        <a href="{% url 'admin_tbl:lesson_list' student.pk %}">
                            {{ student.name }}
                        </a>
                    </td>
                    
                    {% for report in student.lesson.all %}
                        {% if forloop.last %}
                            <td>{{ report.get_progress_display }}</td>
                            <td>{{ report.times }}</td>
                        {% endif %}
                    {% endfor %}
                    
                    <td>{{ student.memo }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}