<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <section>
        <h2>{{ student.name }}</h2>

        <a href="{% url 'admin_tbl:student_update' student.pk %}">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <form method="post" action="{% url 'admin_tbl:student_delete' student.pk %}">
            {% csrf_token %}
            <button class="delete_btn" type="submit" onclick="return confirm('本当に削除しますか？');">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </section>
    
    <a href="{% url 'admin_tbl:student_list' %}">return pre-page</a>
{% endblock %}
