<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <section class="student-detail container">
        <dl>
            <dt class="name">名前</dt>
            <dd>{{ student.name }}</dd>

            <dt class="age">年齢</dt>
            <dd>{{ student.age }}</dd>
            
            <dt class="sex">性別</dt>
            <dd>{{ student.get_sex_display }}</dd>
            
            <dt class="job">仕事</dt>
            <dd>{{ student.job }}</dd>
            
            <dt class="ability">能力</dt>
            <dd>{{ student.get_ability_display }}</dd>
            
            <dt class="start-day">開始日</dt>
            <dd>{{ student.created_at|date:"Y-m-d" }}</dd>
            
            <dt class="memo">備考</dt>
            <dd>{{ student.memo }}</dd>
        </dl>

        <a href="{% url 'admin_tbl:student_update' student.pk %}">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        
        <form method="post" action="{% url 'admin_tbl:student_delete' student.pk %}">
            {% csrf_token %}
            <button class="delete_btn" type="submit" onclick="return confirm('本当に削除しますか？');">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </section>
    
    <a href="{% url 'admin_tbl:student_list' %}">return pre-page</a>
{% endblock %}
